html, body {
	margin: 0;
	padding: 0;
}

#wrapper {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.stripe {
	width: 1vw;
	margin: 0.3vw;
}

.btnblock {
	display: block;
}

.btnblock button {
	margin: 0 5px;
}

.display {
	display: block;
	height: 30vw;
	border: 1px solid black;
	margin: 10px 0;
}

.display div {
	height: 100%;
	width: 49%;
	margin: 0;
	display: inline-block;
	text-align: center;
	line-height: 30vw;
}

#dp-kix {
	border-right: 1px solid black;
}

#dp-result {
	font-size: 24vw;
}

#dp-kix {
	font-size: 12vw;
	font-family: KIX;
	vertical-align: bottom;
}

#botbtns {
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}

.kix-half {
	height: 50%;
	width: 100%;
}

@font-face {
	font-family: 'KIX';
	src: url('assets/kix.ttf')  format('truetype');
}